{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ form_title }} · {{ COLLEGE_SHORT_NAME }}{% endblock %}
{% block breadcrumb_items %}
  <li class="breadcrumb-item"><a href="{% url 'accounts:user_list' %}">Users</a></li>
  <li class="breadcrumb-item active">{{ form_title }}</li>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-7">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h5 class="card-title mb-4">{{ form_title }}</h5>
        {% crispy form %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
